* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html {
    font-size: 62.5%;

    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-medium: #EAECF2;
    --grey-light: #E5EAF1;

    --blue-alt: #5699FF;
    --red-alt: #EA4B65;
    --grey-alt: #8794A7;
}

body {
    background: var(--background);
    display: flex;  
    height: 100vh;
}

body, button, input, textarea {
    /* intervalo de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw); /* clamp(mínimo que pode chegar, padrão, máximo que pode chegar) */ 

    font-family: 'Open Sans', sans-serif;
}

.content {
    width: 100%;
    margin: 0 auto;
}

/* esconder o .sr-only */
.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0,);
    white-space: nowrap;
    border-width: 0;
}

/*------ input and buttons ------*/

input,
button,
.button {
    height: 5rem;
    border-radius: .8rem;
}

input:focus {
    border-color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
}

input,
textarea {
    color: var(--black);
}

button, .button {
    background: var(--blue);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 0;

    cursor: pointer;

    transition: filter .2s;
}

button:hover, .button:hover {
    filter: brightness(1.2);
}

button > img,
.button > img {
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined {
    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue);
}

button.red,
.button.red {
    background: var(--red);
    color: var(--white);
}

button.grey,
.button.grey {
    background: var(--grey-light);
    color: var(--grey-dark);
}

/* header */
.content header {
    width: 80%;
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;
}